<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/style.css">

    <title>Resultado da Geocodificação</title>
</head>



<body>

    <div class="resultado">
        <h2>Resultado da Busca</h2>

        <p><strong>Endereço:</strong> {{ resultado.endereco }}</p>

        <p><strong>Latitude:</strong> {{ resultado.latitude }}</p>

        <p><strong>Longitude:</strong> {{ resultado.longitude }}</p>

        <div id="map"></div>
        

        <p><strong>País:</strong> {{ resultado.pais }}</p>

        <a href="/" class="btn-voltar">Nova Pesquisa</a>
    </div>

</body>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    const latitude = {{ resultado.latitude }};
    const longitude = {{ resultado.longitude }};

    console.log(latitude);
    console.log(longitude);

    const map = L.map('map').setView([latitude, longitude], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
}).addTo(map);
</script>

</html>